.container-admin {
  width: 100%;
  font-family: "Patrick Hand", cursive;
  position: relative;

  .container-title {
    width: 100%;
    position: absolute;
    top: -22px;
    display: flex;
    justify-content: center;
    h1 {
      background-color: #c4c4c4;
      padding: 0px 20px;
      border: 1px solid white;
      border-radius: 5px;
    }
  }

  .container-rubrics-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    .container-list-rubrics {
      list-style: none;
      display: flex;
      justify-content: center;

      a {
        white-space: nowrap;
        overflow: hidden;

        li {
          background-color: #d7d5d5;
          font-size: 1rem;
          padding: 4px 8px;
          cursor: pointer;
          transition: all 0.5s ease;
          position: relative;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        li:after {
          content: "|";
          position: absolute;
          font-size: 1.2rem;
          right: 0;
        }
      }

      .deconnexion {
        background-color: #d7d5d5;
        font-size: 1rem;
        padding: 4px 8px;
        cursor: pointer;
        transition: all 0.5s ease;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .deconnexion::after {
        content: "";
      }

      li:hover {
        background-color: #ebeaea;
      }
    }
    .container-rubric {
      margin-top: 15px;
      width: 70%;
      height: auto;

      border: 1px solid black;

      h3 {
        text-align: center;
        margin-top: 20px;
        font-size: 1.4rem;
      }
    }
  }
}
