.container-events {
  width: 100%;
  font-family: "Patrick Hand", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  h1 {
    background-color: #c4c4c4;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    top: -22px;
    padding: 0px 10px;
  }

  .container-event-comming {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 20px;
    h2 {
      background-color: white;
      width: 100%;
      text-align: center;
      margin-top: 40px;
      padding: 10px 0px;
      background-color: #c4c4c4;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      h3 {
        margin-top: 20px;
      }
      img {
        margin-top: 20px;
        width: 300px;
      }
      .description-event {
        margin-top: 20px;
        width: 50%;
        font-size: 1.2rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px 0px;
        border-radius: 5px;

        p {
          text-align: left;
          padding: 0px 10px;
        }
      }
    }
  }

  .container-past-event {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;

    h2 {
      background-color: white;
      width: 100%;
      text-align: center;
      padding: 10px 0px;
      background-color: #c4c4c4;
    }
    h3 {
      padding-bottom: 20px;
    }
    .description-event {
      margin-top: 50px;
      width: 50%;
      font-size: 1.2rem;
      background-color: white;
      border-radius: 5px;
      padding: 20px 0px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      p {
        text-align: left;
        padding: 0px 10px;
        width: 100%;

        img {
          width: 200px;
          height: 150px;
          object-fit: cover;
          object-position: center;
          float: right;
        }
      }
    }
  }
}

/* ------ Mobile ------ */

@media screen and (max-width: 700px) {
  .container-events {
    h1 {
      font-size: 24px;
    }
    .container-event-comming {
      background-color: white;
      margin-top: 0;
      h2 {
        padding: 10px 0px;
        background-color: #c4c4c4;
      }
      div {
        .description-event {
          width: 100%;
          padding: 20px;
          border-radius: 0px;
          box-shadow: none;
        }
      }
    }
    .container-past-event {
      background-color: white;
      h2 {
        padding: 10px 0px;
        background-color: #c4c4c4;
      }
      .description-event {
        width: 100%;
        padding: 20px;
        border-radius: 0px;
        box-shadow: none;
        margin-top: 0px;
      }
    }
  }
}
