.container-events {
  width: 100%;
  font-family: "Patrick Hand", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../images/paysage-min.jpg");
  background-size: cover;
  min-height: 70vh;
  h1 {
    background-color: #c4c4c4;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    top: -22px;
    padding: 0px 10px;
  }

  .container-event-comming {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 20px;
    h2 {
      width: 100%;
      text-align: center;
      margin-top: 40px;
      padding: 10px 0px;
      color: white;
      font-size: 2rem;
      text-shadow: 0px 1px 4px black;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      h3 {
        margin-top: 20px;
        font-size: 1.4rem;
        color: white;
        text-shadow: 0px 1px 4px black;
      }
      img {
        margin-top: 20px;
        width: 300px;
      }
      .description-event {
        margin-top: 20px;
        width: 50%;
        font-size: 1.2rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px 0px;
        border-radius: 5px;

        p {
          text-align: left;
          padding: 0px 10px;
        }
      }
    }
  }

  .container-past-event {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;

    h2 {
      width: 100%;
      text-align: center;
      padding: 10px 0px;
      font-size: 2rem;
      color: white;
      text-shadow: 0px 1px 4px black;
    }
    h3 {
      padding-bottom: 20px;
    }
    .description-event {
      margin-top: 50px;
      width: 50%;
      font-size: 1.2rem;
      background-color: white;
      border-radius: 5px;
      padding: 20px 0px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      p {
        text-align: left;
        padding: 0px 10px;
        width: 100%;

        img {
          width: 200px;
          height: 150px;
          object-fit: cover;
          object-position: center;
          float: right;
        }
      }
    }
  }
  .no-events {
    width: 100%;
    min-height: 300px;
  }
}

.empty-event {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Patrick Hand", cursive;
  position: relative;

  h1 {
    background-color: #c4c4c4;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    top: -22px;
    padding: 0px 10px;
  }

  .no-events {
    font-size: 42px;
  }
}

/* ------ Mobile ------ */

@media screen and (max-width: 700px) {
  .container-events {
    h1 {
      font-size: 24px;
    }
    .container-event-comming {
      margin-top: 0;
      padding: 0;
      h2 {
        padding: 10px 0px;
      }
      div {
        h3 {
          font-size: 18px;
          padding: 0;
        }
        .description-event {
          width: 100%;
          padding: 20px;
          border-radius: 0px;
          box-shadow: none;
        }
      }
    }
    .container-past-event {
      padding: 0;
      h2 {
        padding: 20px 0px;
      }
      h3 {
        font-size: 18px;
        padding: 0;
      }
      .description-event {
        width: 100%;
        padding: 20px;
        border-radius: 0px;
        box-shadow: none;
        margin-top: 0px;

        p {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            float: none;
            width: 120px;
            height: 80px;
            margin-bottom: 20px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
