.container-find-us {
  width: 100%;
  font-family: "Patrick Hand", cursive;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    background-color: #c4c4c4;
    position: absolute;
    top: -22px;
    padding: 0px 20px;
    border: 1px solid white;
    border-radius: 5px;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    h3 {
      span {
        margin-left: 10px;
      }
    }
  }
  .container-iframe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    iframe {
      margin-top: 20px;
      border: none;
    }
  }
}
