h3 {
  text-align: center;
}

form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    width: 60%;

    input,
    select {
      width: 100%;
      margin-top: 30px;
      background-color: #c4c4c4;
      border: none;
      border-radius: 5px;
      padding: 10px;
    }
  }
  button {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #c4c4c4;
    border: none;
    border-radius: 5px;
    width: 70px;
    transition: all 0.8s ease;
  }
  button:hover {
    background-color: #858585;
    transform: scale(1.1);
  }
  .success {
    margin-top: 20px;
    color: green;
  }
  .fail {
    margin-top: 20px;
    color: red;
  }
}
