h3 {
  text-align: center;
}
.container-search-sort {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  label {
    margin: 0px 10px;
    input,
    select {
      background-color: white;
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      padding: 10px;
    }
  }
}
.container-products-to-manage {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 600px;

  .container-list-products-to-manage {
    list-style-type: none;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      img {
        width: 150px;
      }
      button {
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 2px;
        margin-right: 2px;
        background-color: #c4c4c4;
        border: none;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
      }
      button:hover {
        background-color: #858585;
      }
    }
  }

  ::-webkit-scrollbar {
    /* Scrollbars */
    display: none;
  }
}

/* ------ Inside the Modal ------ */
body > div > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p {
    text-align: center;
  }
  .container-buttons-modal {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      width: 70px;
      margin-right: 5px;
      padding: 5px;
      border: none;
      border-radius: 5px;
      background-color: #c4c4c4;
      cursor: pointer;
      transition: all 0.5s ease;
    }
    button:hover {
      background-color: #858585;
    }
  }
}
