.list-tabs {
  width: 100%;
  list-style: none;

  .menu-item {
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 30px;
    width: 100%;

    a {
      text-decoration: none;
      color: #b8b7ad;
    }
  }
}
